# This gitignore is a whitelist. Inspired by https://rgbcu.be/blog/gitignore

*

!.gitignore

!*.md
!*.py

!Dockerfile
!shittim.config.default.yaml
!plana.config.default.yaml
!arona.config.default.yaml
!docker-compose.yaml
!requirements.txt
!startPLANA.bat
!modules
!modules/**
!modules/**/**

*.pyc
