discord.py
discord.py[voice]>=2.3.2
aiohttp
openai
pyyaml
google-genai
PyNaCl>=1.5.0
google-generativeai
yt-dlp
akinator
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
aiofiles
matplotlib
japanize-matplotlib
cartopy